@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: #e1effe;
  color: #76a9fa;
}

.sidebar.hidden {
  /* animation: sidebar-show 0.5s; */
}

@keyframes sidebar-show {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-left {
  position: relative;
  animation: animateleft 0.4s;
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="week"],
textarea,
select {
  border-color: #b9c1ca !important;
  border-radius: 5px;
}
